body {
    height: 100vh;
    background-color: #353941;
    margin: 0px;
    font-family: Roboto, sans-serif;
}



nav {
    color: white;
    height: 5vh; /* Ensures the nav bar has a fixed height */
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #2d3037;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden; 
}



.logo {
    display: flex;
    align-items: center;
    height: 100%; /* Matches the height of the nav bar */
    width: 48px;
}



ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

li a {
    display: block;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #25272d;
}
.active {
    background-color: #29A19C;
}


.sign-up-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Animation */
    opacity: 0; 
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards; 

}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sign-up-form {
    background-color: #2d3037;
    padding: 2vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

input {
    height: 8vh;
    width: 100%;
    border-radius: 20px;
    border-width: 1px;
    background-color: #5F85DB;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    padding: 17px;
    box-sizing: border-box;

}

button {
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    width: 30%;
    background-color: #4b68ab;
    color: white;
    font-size: 15px;
    font-family: Roboto, sans-serif;

}
::placeholder {
    opacity: 50%;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    text-align: left;

    position: relative;
}

h1 {
    color: #5F85DB;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    font-family: Roboto, sans-serif;
    font-size: 3rem;
}

.status {
    border-radius: 50%;
    background-color: red;
    height: 8px;
    width: 8px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}